.headerContainer {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-between;
  align-items: center;
  height: 140px;
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px;

  a {
    box-shadow: inset 0 0 0 0 #e91e63;
    color: black;
    margin: 0 -0.25rem;
    padding: 0 0.25rem;
    transition: color 2s ease-in-out, box-shadow 1s ease-in-out;
    border-radius: 0.6em;
    &:hover {
      box-shadow: inset 100vw 0 0 0 #ddfcf1;
      border-radius: 0.6em;
      color: #e91e63;
    }
  }
}

.board {
  display: flex;
  flex-direction: row;

  justify-content: flex-end;
  align-items: center;

  a {
    margin: 15px;
  }
}
.titlu {
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    position: relative;
    font-family: "Avenir Next", sans-serif;
    font-weight: 900;
    font-size: calc(1em + 1vw);
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: 0.05em;
    display: inline-block;
    color: mix(#fff, #e91e63, 85%);
    text-shadow: -0.0075em 0.0075em 0 mix(#fff, #e91e63, 94%),
      0.005em 0.005em 0 mix(#fff, #e91e63, 60%),
      0.01em 0.01em 0 mix(#fff, #e91e63, 62%),
      0.015em 0.015em mix(#fff, #e91e63, 64%),
      0.02em 0.02em 0 mix(#fff, #e91e63, 66%),
      0.025em 0.025em 0 mix(#fff, #e91e63, 68%),
      0.03em 0.03em 0 mix(#fff, #e91e63, 70%),
      0.035em 0.035em 0 mix(#fff, #e91e63, 72%);
  }
}

.navMenu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-direction: row;
  background-color: antiquewhite;
  z-index: 1000;
  margin-left: 1em;
  margin-right: 1em;
}
.navCont {
  display: flex;
  top: 0;

  flex-direction: column;

  justify-content: space-between;
  align-items: flex-end;
  ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    padding: 0px;
    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: left;

      li {
        all: unset;
        width: 15em;
        margin: 1em;
        a {
          all: unset;
          cursor: pointer;
        }
      }
    }
    hr {
      height: 100%;
      width: 2px;
      color: black;
    }
  }
  li {
    overflow: hidden;
  }
  nav {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 140px;
    width: 35em;
  }
}
@media (max-width: 768px) {
  .headerContainer {
    padding: 0px;
  }
  .navMenu {
    left: 0;
    right: 0;
  }
  .meniu {
    height: 20em;
  }
  .navCont {
    nav {
      width: 100%;
    }
    ul {
      grid-template-columns: 1fr 1fr;
      hr {
        display: none;
      }
      div {
        width: 100%;
        text-align: center;
        li {
          width: 100%;
        }
      }
    }
  }
}
