.mapContainer {
  display: flex;
  width: 100%;
  height: 20em;
}
.containerMapa {
  display: flex;
  padding-top: 2em;
  padding-bottom: 2em;
  width: 100%;
}
.infoHarta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2em;
  background-color: bisque;
  border-bottom-right-radius: 50%;
  border-top-right-radius: 50%;
  background: rgba(67, 170, 211, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(17px);
  -webkit-backdrop-filter: blur(17px);

  border: 1px solid rgba(255, 255, 255, 0.18);

  hr {
    width: 100%;
  }
  // padding-top: 3em;
  // padding-bottom: 3em;
}
@media (max-width: 768px) {
  .infoHarta {
    padding: 1em;
    padding-right: 2em;
    font-size: 15px;
  }
  .containerMapa {
    display: flex;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 0.2em;
    padding-right: 0.2em;
  }
}
