.mainContent {
  margin-top: 140px;
  max-width: 1920px;
}

.siteContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  overflow: hidden;
  align-items: center;
}
.mainContentAdmin {
  margin-left: 22em;
}

@media (max-width: 768px) {
  .mainContentAdmin {
    margin-left: 0em;
  }
}
