.homeContainer {
  display: flex;
  flex-direction: column;
  padding: 4em;
}

.secIntroducere {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 100%;
  margin-top: 5em;
}

.imgIntroducere {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;

  img {
    border-radius: 10%;
  }
}

.textIntro {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: antiquewhite;
  width: 30%;
  border-radius: 1em;
  z-index: 10;
}

@media (max-width: 768px) {
  .homeContainer {
    padding: 1em;
  }
  .secIntroducere {
    flex-direction: column;
    margin-top: 1em;
  }
  .imgIntroducere {
  }

  .textIntro {
    width: 100%;
  }
}
