.inp {
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 280px;
  border-radius: 3px;
  overflow: hidden;
  .label {
    position: absolute;
    top: 20px;
    left: 12px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 500;
    transform-origin: 0 0;
    transform: translate3d(0, 0, 0);
    transition: all 0.2s ease;
    pointer-events: none;
  }
  .focus-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.05);
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
  }
  input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    border: 0;
    font-family: inherit;
    padding: 16px 12px 0 12px;
    height: 56px;
    font-size: 16px;
    font-weight: 400;
    background: rgba(0, 0, 0, 0.02);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.3);
    color: #000;
    transition: all 0.15s ease;
    &:hover {
      background: rgba(0, 0, 0, 0.04);
      box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.5);
    }
    &:not(:-moz-placeholder-shown) {
      + {
        .label {
          color: rgba(0, 0, 0, 0.5);
          transform: translate3d(0, -12px, 0) scale(0.75);
        }
      }
    }
    &:not(:-ms-input-placeholder) {
      + {
        .label {
          color: rgba(0, 0, 0, 0.5);
          transform: translate3d(0, -12px, 0) scale(0.75);
        }
      }
    }
    &:not(:placeholder-shown) {
      + {
        .label {
          color: rgba(0, 0, 0, 0.5);
          transform: translate3d(0, -12px, 0) scale(0.75);
        }
      }
    }
    &:focus {
      background: rgba(0, 0, 0, 0.05);
      outline: none;
      box-shadow: inset 0 -2px 0 #0077ff;
      + {
        .label {
          color: #0077ff;
          transform: translate3d(0, -12px, 0) scale(0.75);
          + {
            .focus-bg {
              transform: scaleX(1);
              transition: all 0.1s ease;
            }
          }
        }
      }
    }
  }
}
.adaugaEvenimentButon {
  padding: 1.5em;
  margin-top: 3em;
  border-radius: 5%;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.15);

  &:hover {
    background-color: rgba(255, 255, 255, 0.35);
  }
}
.creatiEveniment {
  display: flex;
  flex-direction: column;
  width: 45em;
  padding: 12em;

  text-align: center;
  form {
    padding: 1.5em;
  }
}

.creatiEvenimentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
}

.errorText {
  color: red;
}

@media (max-width: 768px) {
  .creatiEveniment {
    width: 17em;
  }
  .evenimentCreat {
    width: 17em;
  }

  .containerButoane {
    padding: 2em 15em;
  }
  .butonNextConfirmatiContainer {
    width: 50%;
  }
  .butonInnapoi {
    width: 50%;
  }
  .inp {
    input {
      height: 4em;
    }
  }
}
