.casetaContainer {
  display: flex;
  flex-direction: column;
  max-width: 30em;
  margin-bottom: 35px;
  padding: 5em;
  padding-top: 1em;
  text-align: center;
  transition: border 200ms ease;
}

.cuBorder {
  display: flex;
  flex-direction: column;
  border: 2px solid rgba(255, 255, 255, 0.15);
  max-width: 30em;
  margin-bottom: 35px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 1em;
  padding-top: 3em;
  text-align: center;
  position: relative;
  transition: border 200ms ease-in-out;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}

.noDisplay {
  display: none;
}
.openBtn {
  padding: 1em;
  cursor: pointer;
  background-color: transparent;
  box-shadow: none;
  border-color: rgba(255, 255, 255, 0.15);
  border-radius: 10%;
  width: 23em;
  height: 10em;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);

  &:hover {
    h1 {
      font-size: 2.2em;
    }
  }
}
.closeBtn {
  position: absolute;
  right: 0;
  top: 0;
  padding: 1.5em;
  background-color: transparent;
  border: none;

  span {
    font-size: 1.3em;
    color: red;
    font-weight: bold;
    cursor: pointer;

    &:hover {
      font-size: 1.5em;
    }
  }
}

@media (max-width: 768px) {
  .casetaContainer {
    padding: 0.5em;
  }
}
