.organizareContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #202124;
}

.neconfirmateContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2em;

  position: relative;
  padding: 3em;
}

.firstInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em;
  border-bottom: 5px dotted black;
  height: auto;
}

@media (max-width: 768px) {
  .neconfirmateContainer {
    grid-template-columns: 1fr;
  }
}
