.organizareContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.neconfirmateContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2em;

  position: relative;
  padding: 3em;
}
.evenimentNeconfirmat {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 2em;
  text-align: center;
  border: 5px solid black;
  border-radius: 1em;

  hr {
    width: 70%;
    height: 0.2em;
    color: rgb(218, 64, 64);
  }
}
.containerMapa {
  display: flex;
  padding-top: 2em;
  padding-bottom: 2em;
}
.firstInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em;
  border-bottom: 5px dotted black;
  height: 15em;
}

@media (max-width: 768px) {
  .neconfirmateContainer {
    grid-template-columns: 1fr;
  }
}
