.adaugOra {
  display: flex;
  flex-direction: column;
  overflow: visible;
}
.confirmateContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  position: relative;
  padding: 2em;
}
.confirmatContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid black;
  height: 30em;
}

@media (max-width: 768px) {
  .confirmateContainer {
    grid-template-columns: 1fr;
  }
}
