.containerDsh {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.containerDashboard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  gap: 5em;
  padding: 1em;
  h1,
  h2,
  h3 {
    text-transform: capitalize;
  }
  hr {
    width: 90%;
  }
}

.parintiContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 2px dashed gray;
  padding: 1em;
  margin-bottom: 2em;
}
.parintiContainerMic {
  display: flex;
  flex-direction: column;
}

.fratiContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;

  border: 2px dashed gray;
  padding: 1em;
  margin-bottom: 2em;
}
.frateContainer {
  border: 1px solid black;
}

.detaliiEveniment {
  display: flex;
  flex-direction: column;

  border: 2px dashed gray;
  padding: 1em;
}

.butonTabel {
  display: flex;
  justify-content: center;
}

.adaugUrsitoare {
  display: flex;
  flex-direction: column;
  margin: 3px;

  z-index: 100;
  height: 10em;
}

.contact {
  border-top: 2px dotted;
  border-bottom: 2px dotted;
  margin-bottom: 1em;
  margin-top: 2em;
}

.ursContainer {
  display: flex;
  flex-direction: column;
  border: 5px dotted gray;
  h3 {
    text-transform: capitalize;
  }
}
.trecut {
  background-color: red;
}
.plusNume {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 5px solid black;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  max-width: 30em;
  h1 {
    font-size: 3em;
    font-style: italic;
  }
}

.nasiContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  border: 5px dotted gray;
  padding: 1em;
  div {
    border: 2px solid black;
  }
}

@media (max-width: 768px) {
  .containerDashboard {
    grid-template-columns: 1fr;
  }
}
