$primary: #0077ff;
$dark: #000;
$backgroundColor: #f5f5f5;
.dateNasi {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.nasi {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 4px solid black;
  width: 100%;
  gap: 2em;
  position: relative;
  padding: 1em;
  text-align: center;
  padding-bottom: 7em;
}
.nasiDoi {
  display: grid;
  grid-template-columns: 1fr;
  border: 4px solid black;
  justify-content: space-between;
  align-items: center;
  max-width: 20em;
  height: auto;
  padding: 1em;
  padding-bottom: 7em;
  position: relative;
}
.pereche {
  display: grid;
}

.perecheNasi {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5em;
  position: relative;
  background-color: $backgroundColor;

  label {
    text-align: center;
    margin-bottom: 0.2em;
  }
}
.butonAdauga {
  position: absolute;
  height: 5em;
  width: 10em;
  bottom: 0;
  left: 50%;

  transform: translate(-50%);
  border-top-left-radius: 20%;
  border-top-right-radius: 20%;
  cursor: pointer;
}
.closeBtn {
  position: absolute;
  right: 0;
  top: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  span {
    font-size: 1.3em;
    color: red;
    font-weight: bold;

    &:hover {
      font-size: 1.5em;
    }
  }
}

.auCopii {
  display: flex;
  flex-direction: row;
  padding: 0.5em;
  width: 100%;
  justify-content: space-between;
  position: relative;
}

.inp {
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 280px;
  border-radius: 3px;
  overflow: hidden;
  .label {
    position: absolute;
    top: 20px;
    left: 12px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 500;
    transform-origin: 0 0;
    transform: translate3d(0, 0, 0);
    transition: all 0.2s ease;
    pointer-events: none;
  }
  .focus-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.05);
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
  }
  input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    border: 0;
    font-family: inherit;
    padding: 16px 12px 0 12px;
    height: 56px;
    font-size: 16px;
    font-weight: 400;
    background: rgba(0, 0, 0, 0.02);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.3);
    color: #000;
    transition: all 0.15s ease;
    &:hover {
      background: rgba(0, 0, 0, 0.04);
      box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.5);
    }
    &:not(:-moz-placeholder-shown) {
      + {
        .label {
          color: rgba(0, 0, 0, 0.5);
          transform: translate3d(0, -12px, 0) scale(0.75);
        }
      }
    }
    &:not(:-ms-input-placeholder) {
      + {
        .label {
          color: rgba(0, 0, 0, 0.5);
          transform: translate3d(0, -12px, 0) scale(0.75);
        }
      }
    }
    &:not(:placeholder-shown) {
      + {
        .label {
          color: rgba(0, 0, 0, 0.5);
          transform: translate3d(0, -12px, 0) scale(0.75);
        }
      }
    }
    &:focus {
      background: rgba(0, 0, 0, 0.05);
      outline: none;
      box-shadow: inset 0 -2px 0 #0077ff;
      + {
        .label {
          color: #0077ff;
          transform: translate3d(0, -12px, 0) scale(0.75);
          + {
            .focus-bg {
              transform: scaleX(1);
              transition: all 0.1s ease;
            }
          }
        }
      }
    }
  }
}
.copiiNasi {
  display: flex;
  padding: 0.2em;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin: 0.5em;
  p {
    padding: 1em;
  }
}
.copiiNasiContainer {
  padding-bottom: 2em;
  border: 3px dotted black;
  margin-top: 2em;
  text-align: left;
  button {
    max-height: 2em;
    max-width: 5em;
    span {
      font-weight: bold;
    }
  }
}
.auCopiiContainer {
  display: flex;
  width: 100%;
  flex-direction: column;

  position: relative;
}
.copiiNasiBorder {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.copiiNasiTitlu {
  background-color: $backgroundColor;

  padding: 0.2em 0.8em;

  margin-left: -0.5em;
}

@media (max-width: 768px) {
  .formularContainer {
    margin: 1em;
  }

  .nasi {
    grid-template-columns: 1fr;
  }
}
